{% extends "base.html" %}
{% load i18n %}
{% load l10n %}
{% load tz %}

{% block head_title %}Niice Solutions{% endblock %}
{% block navbar %}
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar">lo</span>
            <span class="icon-bar">lo</span>
            <span class="icon-bar">lo</span>
          </button>
          <a class="navbar-brand" href="#">Niice Solutions</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <div class="navbar-collapse collapse">
              <div class="navbar-form navbar-right">
              </div>

            </div><!--/.navbar-collapse -->
        </div><!--/.navbar-collapse -->

    </nav>
{% endblock %}
{% block content %}
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">

      <div class="container-fluid" align="center"> <img style="height: 100%" src="/static/img/NiiceLogo.png"></div>
    <div class="container" ><h1 align="center">{% trans "Welcome!"%}</h1>
        <p>{% blocktrans %}Niice Solutions provide high quality software solutions to the manufacturing industry. </br> With more than 20 years software engineering experience in manufacturing environments all over the world, we understand your business! <br>For further information email:<a href="mailto:steve@niicesolutions.com">steve@niicesolutions.com</a> or call +44(0)7447 524701{% endblocktrans %}</p>
      </div>
    </div>
  </div>

{% endblock %}